table#output tbody tr td {
	font-size: 85%;
}

form.processForm div.multiple {
	margin-left: 0px;
	padding-bottom: 5px
}

form.processForm a[class^="icon-"], 
form.processForm a[class*=" icon-"] {
	margin-top: 7px;
}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.footer p {
	margin-bottom: 0;
	color: #777;
}

.footer-links {
	margin: 10px 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}

.footer-links li:first-child {
	padding-left: 0;
}

.bubble-content {
	margin: 0 auto;
	min-width: 300px;
}

.jslider {
	margin: 20px 0 20px 0;
	min-height: 25px;
}

#map.leaflet-fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.leaflet-control-fullscreen {
	background-image: url(http://f.cl.ly/items/0W2V081o1h3p013P2v46/icon-fullscreen.png);
	margin-bottom: 5px;
}

#map {
	height: 450px;
	position: realtive;
}
