#scale {
	line-height: 29px;
	height: 29px;
	bottom: 23px;
	right: 20px;
	text-align: left;
	position: absolute;
	z-index: 500;
	font-size: 0.8em;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#scale span {
	vertical-align: middle; 
	display: inline-block; 
	border-top: 1px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
	border-left: 1px solid #B6B6B6;
	opacity: .80;
	filter:Alpha(Opacity=80); 
	height: 100%;
}

#scale span:first-child {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#scale span:last-child {
	border-right: 1px solid #B6B6B6;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
