.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: #4F4F4F;
}
html { cursor: text; }
.editbox p { margin: 0; }
span.xml-tagname { color: #B925E0; }
span.xml-attribute { color: #148C00; }
span.xml-punctuation { color: #363636; }
span.xml-attname { color: #4591BB; }
span.xml-comment { color: #A70; }
span.xml-cdata { color: #48A; }
span.xml-processing { color: #999; }
span.xml-entity { color: #A22; }
span.xml-error { color: #F00 !important; }
span.xml-text { color: #4F4F4F; }
